##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## authenticationErrorContext - context with login error state
## authenticationWarningContext - context with login warning state
## ldapResponseContext - context with LDAP state (if using native LDAP)
## rpUIContext - the context with SP UI information from the metadata
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
##
#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
#set ($username = $authenticationContext.getSubcontext('net.shibboleth.idp.authn.context.UsernamePasswordContext', true).getUsername())
##
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>#springMessageText("idp.title", "Password Reset Service")</title>
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://registry.hcommons.org/registry/js/comanage.js"></script>
    </head>
    <body onload="js_onload_call_hooks();">
    <div class="wrapper">
      <div class="container">
        <header>
          <img src="$request.getContextPath()#springMessage("idp.logo")" alt="#springMessageText("idp.logo.alt-text", "logo")">
        </header>

        <div class="content">
          <div class="column one">
            <h3>Please reset your password</h3>
            <br></br>
            <p>Your password must be at least 10 characters long
            and contain a lowercase, an uppercase, and a
            number character.</p>
            <br></br>

            <form id="resetForm" action="$flowExecutionUrl" method="post">
    <script type="text/javascript">
  $("#resetForm").submit(function() {
    // setup
    var pwdconstraintLength = /^.{10,}$/; // minimum 10 chars
    var pwdconstraintDigit = /^.*\d.*$/; // contain lowercase
    var pwdconstraintLower = /^.*[a-z].*$/; // contain lowercase
    var pwdconstraintUpper = /^.*[A-Z].*$/; // contain uppercase
    var pw1 = $("#password").val();
    var pw2 = $("#password_confirm").val();
    // validate
    if (!pwdconstraintLength.test(pw1)) {
      $("#error").remove();
      $("#resetForm").prepend('<section id="error"><p class="form-element form-error">Password must be at least 10 characters long</p></section>');
      return false;
    }
    if (!pwdconstraintDigit.test(pw1)) {
      $("#error").remove();
      $("#resetForm").prepend('<section id="error"><p class="form-element form-error">Password must contain a digit</p></section>');
      return false;
    }
    if (!pwdconstraintLower.test(pw1)) {
      $("#error").remove();
      $("#resetForm").prepend('<section id="error"><p class="form-element form-error">Password must contain a lowercase character</p></section>');
      return false;
    }
    if (!pwdconstraintUpper.test(pw1)) {
      $("#error").remove();
      $("#resetForm").prepend('<section id="error"><p class="form-element form-error">Password must contain an uppercase character</p></section>');
      return false;
    }
    if (pw1 != pw2) {
      $("#error").remove();
      $("#resetForm").prepend('<section id="error"><p class="form-element form-error">Password and confirmation do not match</p></section>');
      return false;
    }
    return true;
  });
</script>

              #if ($authenticationErrorContext && $authenticationErrorContext.getClassifiedErrors().size() > 0)
                #set($message = $authenticationErrorContext.getClassifiedErrors().iterator().next())
                <section id="error">
                  <p class="form-element form-error">$encoder.encodeForHTML($message)</p>
                </section>
              #end
            
              <div class="form-element-wrapper">
                <label for="password">New Password</label>
                <input class="form-element form-field" id="password" name="j_password" type="password" value="">
              </div>

              <div class="form-element-wrapper">
                <label for="password">Confirm New Password</label>
                <input class="form-element form-field" id="password_confirm" name="j_password_confirm" type="password" value="">
              </div>

              <div class="form-element-wrapper">
                <button class="form-element form-button" type="submit" name="_eventId_proceed">Reset</button>
              </div>
            </form>

          </div>
        </div>
      </div>

      <footer>
        <div class="container container-footer">
          <p class="footer-text">#springMessageText("idp.footer", "Insert your footer text here.")</p>
        </div>
      </footer>
    </div>
    
    </body>
</html>
